* {
  box-sizing:border-box;
  font-family: 'Paytone One','Livvic' sans-serif;
   }
  
   body {
   margin:0;
   font-style:normal;
   font-weight:normal;
   color: #000;
   }
  
   .container {
    max-width: 1158px;
    width: 100%;
    padding: 0px 24px;
    margin: 0px auto;
   }
   
   .visually-hidden {
   position:absolute;
   width:1px;
   height:1px;
   margin:-1px;
   padding:0;
   overflow:hidden;
   border:0;
   clip: rect(0 0 0 0);
   }
  
   .header {
    background-color:#014E56;
   }
  
   .header__head{
    padding: 73px 0px;
   }
  
   .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
  
   .header__logo:hover{
    opacity: 0.8;
    transition: 0.2s ease;
   }
  
   .header__logo:active {
    opacity: 0.6;
   }
  
   .header__nav {
    margin-right: auto;
   }
  
   .header__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 30px;
   }
  
   .header__li {
     margin: 0 20px;
     position: relative;
   }
   
   .header__li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color:#fff;
    left: 0;
    bottom: -3px;
    transition: 0.3s ease;
   }
  
   .header__li:hover::after {
    width: 100%;
   } 
  
  
  
   .header__li a {
    text-decoration: none;
    color: #fff;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
   }
  
   .header__li a:hover {
    color: #F67E7E;
    transition: 0.4s ease;
   }
  
   .header__li a:active {
    opacity: 0.5;
   }
  
   .header__link {
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding:10px 32px;
    border-radius: 25px;
   }
  
   .header__link:hover {
    background-color: #fff;
    transform: scale(1.1);
    color: black;
    transition: 0.5s ease;
   }
   .header__link:active{
    opacity: 0.5;
   }
  
   .header__btn {
    display: none;
   }
  
  
  @media  only screen and (max-width:600px){
    .header__list {
      display: none;
    }
    .header__link {
      display: none;
    }
  
    .header__btn {
      display: block;
      background: transparent;
      border: none;
      color: #fff;
    }
    
  }

  
.hero{
background-color: #014E56;
background-image:url(../img/about_1.svg);
background-size: auto;
background-repeat: no-repeat;
background-position: 108% 350px;
}
.hero__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 208px;
  padding-bottom: 153px;
}





.hero__title{
margin: 0;
font-family: 'Livvic';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 100px;
color: #FFFFFF;
}

.hero__inner{
  max-width: 730px;
  width: 100%;
}

.hero__line{
  display: inline-block;
  width: 50px;
  height: 4px;
  background-color: #F67E7E;
  margin-bottom: 30px;
}




.hero__parag{
  
font-family: 'Livvic';
font-style: normal;
font-weight:600;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;

}



.directors{
  background-color: #004047;
  background-image: url(../img/bottom2.png), url(../img/content-bottom.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -100px 0, 100% 100%;
}

@media screen and (max-width:666px) {
  .directors{
    background-position: -100px -50px, 100% 100%;
  }
  
}


.directors__header{
  padding-top: 140px;
  padding-bottom: 140px;
}

.directors__title{
margin: 0;
text-align: center;
font-family: 'Livvic';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
color: #fff;
padding-bottom: 60px;
 
}

.directors__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3,2fr);
  align-items: center;
  grid-row-gap: 100px;
  grid-column-gap: 30px;
}
.directors__item{
  max-width: 350px;
  width: 100%;
  background-color: #012F34;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  cursor: pointer;
  position: relative;
}
.directors__param{
font-family: 'Livvic';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
color: #79C8C7;
margin-bottom: 0;
}
.directors__rank{
font-family: 'Livvic';
font-size: 15px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
}
.directors__transform{
  width: 56px;
  height:56px;
  background-color: #F67E7E;
  position: absolute;
  bottom: -26px;
  left:42%;
  border-radius: 50%;

}
.directors__transform:hover {
  background-color: #79C8C7;
  transform: rotate(45deg);
  transition: 0.5s ease;
}

.directors__item:hover{
  transform: scale(1.1);
  transition: 0.5s ease;
}
.directors__name1{
  margin-top: 0;
}


.directors__name1{
color: #79C8C7;
font-family: 'Livvic';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
}
.directors__block{
font-family: 'Livvic';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
}

.directors__ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.directors__ul li{
  margin-left: 10px;
}












.directors__image{
 margin-top: 20px;
}

@media screen and (max-width:1000px) {

  .hero{
    background-position: 112% 350px;
  }

  .hero__header{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
  }
  .hero__line{
    display: none;
  }
  .hero__inner{
    max-width: 580px;
    width: 100%;
    text-align: center;
  }

}
@media screen and (max-width:900px){
  .hero{background-position: 114% 350px ;
  }
  .directors__list{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    grid-column-gap: -50px;
    margin-left: 20px;
  }
}

@media screen and (max-width:800px){
  .hero{
    background-position: 118% 350px;
  }
}
@media screen and (max-width:700px){
  .hero{
    background-position: 122% 350px;
  }
  .directors__list{
    margin-left: 0;
  }
}

@media screen and (max-width:600px){

  .hero{
    background-position: 126% 280px;
  }
  .hero__header{
    padding-top: 50px;
  }
  .hero__title{
    font-size: 50px;
  }
  .hero__parag{
    font-size: 16px;
    margin-top: 0;
  }
}
@media screen and (max-width:530px){
  .hero{
    padding-bottom: 50px;
    background-position: 133% 300px;
  }
  .hero__parag{
    margin-bottom: 0;
  }
}
@media screen and (max-width:500px){
  .directors__list{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 40px;
  }
}
@media screen and (max-width:450px){
  .hero{
    background-position: 150% 360px;
  }
  .hero__header{
    padding-top: 30px;
  }
  .directors__list{
    margin-left: 0;
  }
}

@media screen and (max-width:374px){
  .hero{
    background-position: 170% 420px;
  }
}
@media screen and (max-width:330px){
  .hero{
    background-position: 190% 460px;
  }
}

@media screen and (max-width:310px){
  .hero{
    background-image: none;
  }
}

.brand{
  background-color: #012F34;
  background-image: url(../img/content.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position:0 -80px;
}

@media screen and (max-width:800px){
  .brand{
    background-position: 0 -140px;
  }
}




.brand__item img{
  background: transparent;
}

.brand__header{
  padding-top: 120px;
  padding-bottom: 120px;
}
.brand__title{
text-align: center;
font-family: 'Livvic';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
color: #FFFFFF;
}
.brand__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width:830px){
  .brand__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .brand__item{
    padding-top: 70px;
  }
}
@media screen and (max-width:511px){
  .brand__title{
    font-size: 32px;
  }
  .brand__item{
    padding-top: 50px;
  }
}




.ready{
  background-color: #F67E7E;
  padding: 76px 0;
  background-image: url(../img/pink.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 -220%;
}
@media screen and (max-width:920px){
  .ready{
    background-position: 0 150px;
  }
}
@media screen and (max-width:807px){
  .ready{
    background-position:0 210px ;
  }
}
@media screen and (max-width:280px){
  .ready{
   background-image: none;
  }
}




.ready__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
}

.ready__title{
  margin: 0;
  font-family: 'Livvic';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
color: #012F34;
}

.ready__link {
text-decoration: none;
color: #000;
border: 2px solid #000;
padding: 10px 30px;
border-radius: 25px;
font-family: 'Livvic';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
color: #012F34;
}
.ready__link:hover{
  background-color: #000;
  color: #fff;
  transition: 0.3s ease;
transform: scale(1.1);
}

@media screen and (max-width:1050px) {
  .ready__title{
    margin-left: -50px;
    font-size: 40px;

  }
}
@media screen and (max-width:920px){
  .ready__header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ready__title{
    margin-bottom:20px;
    margin-left: 0;
  }
}
@media screen and (max-width:800px) {
  .ready__title{
    max-width: 217px;
    font-size: 35px;
  }
  .ready__header{
    padding: 0;
  }
  
}





footer{
  background-color: #002529;
  position: relative;
}
.footer__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
}
.footer-link a{
  display: block;
  margin-bottom: 20px;
}


.footer-ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.footer-ul li a{
  text-decoration: none;
  color: #fff;
  font-family: 'Livvic';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
display: block;
padding-top: 20px;
}
.address{
color: #fff;
font-family: 'Livvic';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 30px;
}
.address p{
  margin: 0;
}




.social-net ul{
  list-style: none;
  margin: 0;
  padding: 0;
display: flex;
align-items: center;
justify-content: center;
margin-left: 100px;
margin-bottom: 30px;



}
.social-net ul li{
  padding: 0 10px;
}
.final{
font-family: 'Livvic';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 25px;
color: #fff;
}

@media only screen and (max-width: 700px){
  .social-net ul{
    position: absolute;
    left: -50px;
    bottom:0px;
  }
  .address{
    position: absolute;
    right: 20px;
    text-align: right;
  
  }
  
  .final{
    position: absolute;
    right: 20px;
    bottom: 0;
  }
}

@media only screen and (max-width: 600px){
  .footer__header{
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  
    
  }
footer{
  padding-top: 130px;
  padding-bottom: 270px;
}

  .address{
    position: absolute;
    top: 317px;
    left: 40px;
    margin-bottom: 40px;
    margin-right:25px;
    text-align: center;
  }



  .social-net ul {
    position: absolute;
    left:35%;
    top: 400px;
    margin: 0;
  }

  .final{
    position: absolute;
       left: 20%;
  }
  
}

@media only screen and (max-width: 370px){
 .final{
 padding-right: 10px;
 }
}


@media only screen and (max-width: 330px){

.social-net ul{
  left:80px;
}
footer{
  padding-bottom: 300px;
}


}


@media only screen and (max-width:275px){

.social-net ul{
  left: 50px;
}


}
